---
import Layout from "../layouts/Layout.astro";
import Badge from "../components/Badge.astro";
import LinkedInIcon from "../icons/LinkedIn.astro";
import Gmail from "../icons/Gmail.astro";
import GitHub from "../icons/GitHub.astro";
import Experiencia from "../components/Experiencia.astro";
import BriefCase from "../icons/BriefCase.astro";
import Tecnologias from "../components/Tecnologias.astro";
import ThemeTogle from "../components/ThemeTogle.astro";
import Projects from "../components/Projects.astro";
import Idiomas from "../components/Idiomas.astro";
import Hero from "../components/Hero.astro";
---

<Layout
  title="Portfolio de Pedro Blanquer - Desarrollador y programador Web Junior"
  description="Portfolio de Pedro Blanquer, desarrollador Full Stack Junior con pasión por la tecnología. Descubre mis proyectos, habilidades y experiencia profesional."
/>
<main
  class="min-h-screen flex flex-col items-center justify-center px-6 py-16 dark:bg-gray-950"
>
  <Hero />
  <Idiomas />
  <Tecnologias />
  <Projects />
  <Experiencia />
</main>
