---
import ExperienceItem from "./ExperienciaItems.astro";

const experiences = [
  {
    title: "Vendedor",
    company: "Adidas & Reebok",
    date: "Nov 2016 – Nov 2017 | Sevilla",
    description:
      "Atención al cliente y ventas, desarrollando habilidades de comunicación, negociación y trabajo en equipo.",
  },

  {
    title: "Gestor de emergencias",
    company: "Junta de Andalucía - 112 Andalucía",
    date: "Nov 2016 – Sep 2023 | Sevilla",
    description:
      "Gestor de emergencias. Coordinación y respuesta rápida ante situaciones de emergencia, gestionando recursos y comunicación efectiva con los usuarios.",
  },
  {
    title: "Mozo de almacén",
    company: "Yves Saint Laurent",
    date: "Nov 2023 – Dec 2023 | París",
    description:
      "Trabajo en logística, gestion de inventarios y preparación de pedidos. Trabajo en equipo desarrollado integramente en francés.",
  },
  {
    title: "Instructor de esquí alpino",
    company: "Escuela Nacional de Esquí Sierra Nevada",
    date: "Inviernos 2020 – Actualidad",
    description:
      "Impartición de clases de esquí alpino de diferentes niveles, adaptando técnicas de enseñanza para cada estudiante y asegurando su progreso y seguridad.",
  },
];
---

<section id="experiencia" class="w-full mt-20">
  <h2
    class="text-3xl md:text-4xl text-center font-bold tracking-tight text-gray-900 dark:text-white"
  >
    Experiencia laboral
  </h2>
  <p
    class="text-left text-gray-700 dark:text-gray-300 mt-6 max-w-3xl mx-auto leading-relaxed text-lg pb-8"
  >
    A lo largo de mi formación y experiencia práctica he desarrollado una base
    sólida en las principales tecnologías del ecosistema web. Disfruto
    explorando nuevas herramientas, optimizando procesos y aplicando buenas
    prácticas para crear soluciones eficientes, escalables y centradas en la
    experiencia del usuario.
  </p>

  <ol class="items-center sm:flex">
    {
      experiences.map((exp, index) => (
        <li class="relative mb-6 sm:mb-0">
          <ExperienceItem {...exp} isLast={index === experiences.length - 1} />
        </li>
      ))
    }
  </ol>
</section>
