---
import ThemeTogle from "./ThemeTogle.astro";
---

<header>
  <nav
    class="fixed top-0 left-0 w-full bg-white/70 dark:bg-gray-950/70 backdrop-blur-lg shadow-sm z-50"
  >
    <div class="max-w-6xl mx-auto flex justify-between items-center px-6 py-4">
      <!-- Logo + Nombre -->
      <div
        class="flex items-center gap-1 font-bold text-green-600 dark:text-green-300 text-xl"
      >
        <!-- Solo la imagen es clicable -->
        <a href="/" class="inline-block">
          <img
            src="/svgviewer-output.svg"
            alt="Logo de Pedro Blanquer"
            class="w-8 h-8"
          />
        </a>

        <!-- Texto y ThemeToggle sin enlace -->
        <span>PedroBlanquer</span>
        <span class="text-gray-900 dark:text-white">.setColor</span>
        <span>(</span>
        <ThemeTogle />
        <span>)</span>
      </div>
      <ul
        class="flex gap-6 text-m font-medium text-gray-700 dark:text-gray-300"
      >
        <li>
          <a href="#tecnologias" class="hover:text-green-600">Tecnologías</a>
        </li>
        <li><a href="#proyectos" class="hover:text-green-600">Proyectos</a></li>
        <li>
          <a href="#experiencia" class="hover:text-green-600">Experiencia</a>
        </li>
        <li><a href="#sobre-mi" class="hover:text-green-600">Sobre mí</a></li>
      </ul>
    </div>
  </nav>
</header>
