---
import "../styles/global.css";
// Supports weights 100-900
import "@fontsource-variable/inter";
import Header from "../components/Header.astro";
import Hero from "../components/Hero.astro";

interface Props {
  title: string;
  description: string;
}
const { title, description } = Astro.props;
---

<!doctype html>
<html lang="es" class="">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="{description}" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <!-- Modo oscuro -->
    <div
      class="absolute top-0 z-[-2] h-screen w-screen bg-neutral-950 bg-[radial-gradient(ellipse_80%_80%_at_50%_-20%,rgba(120,119,198,0.3),rgba(255,255,255,0))]"
    >
    </div>
    <!-- modo claro -->
    <div
      class="absolute top-0 z-[-2] h-screen w-screen bg-white bg-[radial-gradient(100%_50%_at_50%_0%,rgba(0,163,255,0.13)_0,rgba(0,163,255,0)_50%,rgba(0,163,255,0)_100%)]"
    >
    </div>

    <!-- Header -->
    <Header />

    <!-- Main content -->
    <main class="flex-grow max-w-6xl w-full mx-auto p-4">
      <slot />
    </main>
  </body>

  <style is:global>
    :root {
      color-scheme: light dark;
    }

    html {
      font-family: "InterVariable", system-ui, sans-serif;
    }
  </style>
</html>
